<div class="container">
  <h2>Edit Comment</h2>
  <%= form_with(model: @comment, url: board_task_comment_path, method: 'put', local: true) do |f| %>
    <div>
      <%= f.label :content, 'Content' %>
    </div>
    <div>
      <%= f.text_area :content, class: 'text' %>
    </div>
    <%= f.submit 'Submit', class: 'btn-primary' %>
  <% end %>
</div>