<div class="container">

  <div class="board_name">
    <%= @board.name %>
  </div>
  <div class="board_description">
    <%= @board.description %>
  </div>
  <div class="board_image">
    <%= image_tag @board.user.avatar_image %>
  </div>

  <div class="tasks_new">
      <%= link_to '+ Add new task', new_board_task_path(@board) %>
    </div>
</div>