<div class="container">

  <div class="board">
    <div class="board_name_title">
      <%= @board.name %>
    </div>
    <div class="board_description">
      <%= @board.description %>
    </div>
    <div class="board_image">
      <%= image_tag @board.user.avatar_image %>
    </div>
  </div>

  <div class="boards_new">
      <%= link_to '+ Add new task', new_board_task_path(@board) %>
    </div>
</div>