<div class="container">

  <div class="board_name">
    <%= @board.name %>
  </div>
  <div class="board_description">
    <%= @board.description %>
  </div>
  <div class="board_image">
    <%= image_tag 'Oval.png' %>
  </div>

</div>