@import 'variables';

.boards_head {
  margin-top: 17px;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;

  &_head_title {
    font-size: 18px;
    line-height: 25px;
  }

  &_image {

  }
}

.boards {

  &_title {
    margin-top: 30px;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    color: black;

  }

  &_new {
    margin-top: 35px;
    height: 48px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    border: dashed $text-base-color;
  }
}

.board {
  margin-top: 35px;
  background-color: $text-filed-base-color;
  border-radius: 10px;
  padding-left: 17px;
  cursor: pointer;

  &_name {
    padding-top: 32px;
    font-size: 18px;
    line-height: 25px;
    // display: flex;
  }

  &_description {
    padding-top: 6px;
    font-size: 14px;
    line-height: 19px;
  }

  &_image {
    margin-top: 29px;
    padding-bottom: 20px
  }
}