@import 'variables';

.boards_head {
  margin-top: 17px;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;

  &_head_title {
    font-size: 18px;
    line-height: 25px;
  }

  &_image {

  }
}

.boards {

  &_title {
    margin-top: 30px;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    color: black;

  }

  &_new {
    margin-top: 35px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    border: dashed $text-filed-base-color;
    
  }
}

.board {
  margin-top: 24px;
  background-color: $text-filed-base-color;
  border-radius: 10px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;

  &_name {
    padding-top: 32px;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;

    &_title {
      font-weight: bold;
    }

  }

  &_eyecatch {

    img {
      width: 100%;
      border-radius: 8px;
    }
  }
  &_description {
    padding-top: 6px;
    font-size: 14px;
    line-height: 19px;
    padding-right: 52px;

  }

  &_image {
    img {

      margin-top: 12px;
      padding-bottom: 12px;
      width: $avatar-size;
      // height: $avatar-size;
    }
  }
}

.task_title {
  margin-top: 34px;
  font-size: 18px;
  margin-bottom: 18px;
}