@import 'variables';

.comment {
  margin-top: 34px;

  &_title {
    font-size: 18px;
    margin-bottom: 24px;
  }

  &_sec {
    font-size: 14px;
    display: flex;
    
    img {
      width: 32px;
      height: 32px;
    }
    
    &_content {
      padding-left: 16px;
    }
  }
}

.comment_new {
  margin-top: 32px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  border: dashed $text-filed-base-color;
}