@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;
$back-icon-size: 16px;

.header {
  // display: flex;
  // justify-content: space-between;

  &_logos {
    display: flex;
    justify-content: space-between;
}
}